@font-face {
  font-family: "Luckyiest Guy";
  src: url("fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("woff2"); /* Pfad zur Schriftartdatei. Das `format` ist optional, aber es hilft Browsern zu wissen, welches Dateiformat sie herunterladen. */
}

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  font-family: "Luckyiest Guy";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/3. Background/Legacy/Layers/5. Water/L3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#audiobtn {
  margin-left: 110px;
  margin-right: 0;
}
#btn-bubble img,
#btn-shoot img {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainmenu {
  z-index: 3;
  height: 480px;
  width: 720px;
  background-image: url("./img/3. Background/Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 37px 7px rgb(255, 255, 255);
}
#heading {
  text-align: center;
  margin-bottom: -50px;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 3px 3px 10px rgb(197, 17, 209);
}
.button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.start-button {
  cursor: pointer;
  height: 70px;
  margin-top: 290px;
}
.start-button:hover {
  box-shadow: 0px 0px 37px 7px rgba(243, 133, 255, 0.6);
  border-radius: 20px;
}
.icon {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  margin-left: 0px !important;
  filter: invert();
}
.icon-img {
  cursor: pointer;
  background-color: rgb(149, 210, 28);
  border-radius: 26px;
  border: solid 2px #000000;
  padding: 5px;
  width: 40px;
}
.icon-img:hover {
  box-shadow: 0px 0px 10px 7px rgba(165, 152, 0, 0.6);
}
.control-con {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}
.control-img {
  height: 80px;
  width: auto;
  margin-right: 40px;
}
.img-cont {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgb(255, 127, 234);
  border: solid #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.control-content {
  text-shadow: 3px 3px 10px rgba(167, 15, 178, 0.679);
  margin: 10px;
  font-size: 35px;
  display: flex;
  align-items: center;
}
.gameover {
  margin-top: 400px;
}
.victory {
  width: 300px;
}
canvas {
  background-color: #000000;
  box-shadow: 0px 0px 37px 7px rgb(255, 255, 255);
  display: block;
}
.icon-div {
  display: flex;
  justify-content: flex-end;
}
.hud-none {
  display: none !important;
}
.mobile-hud {
  margin-top: -80px;
  z-index: 1;
  width: 720px;
  justify-content: space-around;
  align-items: flex-end;
}
.hud-swim {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hud-swim div {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  color: #ffffff;
  font-size: 25px;
  padding: 5px;
  border: solid #ffffff;
  background-color: #bf077f;
  touch-action: none;
}
button:hover {
  background-color: #eca8d4;
}
#btn-up,
#btn-down {
  padding: 5px 12px;
}

#btn-shoot {
  border-radius: 5px;
}
#rotate {
  margin-top: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#rotateScreenImage {
  width: 50px;
}

.privacy{
  margin-top: 40px;
}
.privacy-body{
  height: 100%;
  padding: 50px 0 0 50px;
  margin-top: 350px;
  background-image: url("./img/3. Background/Legacy/Layers/5. Water/L3.png");
  background-size: cover;
  background-color: rgb(0, 166, 255);
  color: #313131;
}
@media screen and (max-width: 1000px) {
  .mobile-hud,
  .hud-none {
    display: flex !important;
  }
  .mobile-hud {
    margin-top: -130px !important;
  }
}
@media screen and (max-height: 700px) {
  .mobile-hud {
    display: flex !important;
  }
}
@media only screen and (max-width: 720px) {
  canvas,
  #mainmenu,
  .mobile-hud {
    width: 100vw;
  }
  .mobile-hud {
    margin-top: -130px !important;
  }
  #btn-fullscreen {
    display: none !important;
  }
  #controls {
    display: none;
  }
  #heading {
    margin-top: 70px;
  }
}
@media only screen and (max-height: 515px) {
  body {
    justify-content: unset;
  }
  canvas,
  #mainmenu {
    height: 100vh;
  }
  #heading {
    margin-top: 70px;
  }
  #btn-fullscreen {
    display: none !important;
  }
  #controls {
    display: none;
  }
  .start-button {
    margin-top: 200px !important;
  }
}
@media only screen and (max-height: 480px) {
  .start-button {
    margin-top: 150px !important;
  }
}
@media screen and (orientation: portrait) {
  canvas {
    display: none !important;
  }
  #mobile-hud {
    display: none !important;
  }

  #mainmenu {
    display: none;
  }
  #rotate {
    display: flex;
  }
}

